[submodule "learning-nodejs-development"]
	path = learning-nodejs-development
	url = https://github.com/IrakliAmbroladze/learning-nodejs-development.git
[submodule "the-road-to-react"]
	path = the-road-to-react
	url = https://github.com/IrakliAmbroladze/the-road-to-react.git
[submodule "modern-web-applications-with-NextJS"]
	path = modern-web-applications-with-NextJS
	url = https://github.com/IrakliAmbroladze/modern-web-applications-with-NextJS.git
[submodule "the-rust-programming-language"]
	path = the-rust-programming-language
	url = https://github.com/IrakliAmbroladze/the-rust-programming-language.git
[submodule "eloquent-JavaScript-by-Marijn-Haverbeke"]
	path = eloquent-JavaScript-by-Marijn-Haverbeke
	url = https://github.com/IrakliAmbroladze/eloquent-JavaScript-by-Marijn-Haverbeke.git
[submodule "effective-TypeScript-by-Dan-Vanderkam"]
	path = effective-TypeScript-by-Dan-Vanderkam
	url = https://github.com/IrakliAmbroladze/effective-TypeScript-by-Dan-Vanderkam.git
[submodule "efficient-node"]
	path = efficient-node
	url = https://github.com/IrakliAmbroladze/efficient-node.git
[submodule "fluent-react"]
	path = fluent-react
	url = https://github.com/IrakliAmbroladze/fluent-react.git
[submodule "real-world-next.js"]
	path = real-world-next.js
	url = https://github.com/IrakliAmbroladze/real-world-next.js.git