[submodule "learning-nodejs-development"]
	path = learning-nodejs-development
	url = https://github.com/IrakliAmbroladze/learning-nodejs-development.git
[submodule "the-road-to-react"]
	path = the-road-to-react
	url = https://github.com/IrakliAmbroladze/the-road-to-react.git
[submodule "modern-web-applications-with-NextJS"]
	path = modern-web-applications-with-NextJS
	url = https://github.com/IrakliAmbroladze/modern-web-applications-with-NextJS.git
[submodule "the-rust-programming-language"]
	path = the-rust-programming-language
	url = https://github.com/IrakliAmbroladze/the-rust-programming-language.git
[submodule "learn-git-by-Rick-Umali"]
	path = learn-git-by-Rick-Umali
	url = https://github.com/IrakliAmbroladze/learn-git-by-Rick-Umali.git
